html,body{
	font-family: "微软雅黑";
	color: rgb(245,245,249);
	background-color: rgb(245,245,249);
}
.navbar-default {
	background-color: rgb(0,170,238);
}
nav > .container {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}
nav > .container > svg {
	float: left;
}
nav > .container > span:last-of-type {
	float: right;
}
section > .container {
	margin-top: 20px;
}
section > .container > div > h1{
	margin-bottom: 18px;
}
section > .container > div{
	padding: 10px;
	background-color: white;
	color: rgb(135,135,135);
	font-size: 14px;
}
section > .container > div > form > div:first-of-type{
	border-bottom: 1px solid rgb(135,135,135);
	margin-bottom: 20px;
}
.input-group-addon {
	padding: 0;
}
.divspan {
	padding-bottom: 10px;
	padding-right: 2px;
	color: #000000;
	background-color: rgba(0,0,0,0);
	border: none;
	font-size: 28px;
}
.divinput {
	font-family: "微软雅黑";
	color: #000000;
	width: 100%;
	border: none;
	font-size: 48px;
}
.icon {
   width: 1em; height: 1em;
   vertical-align: -0.15em;
   fill: currentColor;
   overflow: hidden;
}
